@model IEnumerable<ContractManager.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<section class="container pt-3">
    <header class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Client List</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Client" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &nbsp; Create new Client
                </a>
            </div>
    </header>
    <br /><br />
    <table class="table table-responsive table-bordered table-striped table-secondary">
        <thead>
            <tr>
                <th style="width:5%">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th style="width:35%">
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th style="width:35%">
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i> Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm"><i class="bi bi-file-text"></i> Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</section>